---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPosts } from "../../services/graphql";
import Card from "../../components/Card.astro";


const posts = getPosts?.allPost?.edges;
---

<BaseLayout title="Posts">
  <div class="pb-4">
    <h1 class="text-xl">Posts</h1>
  </div>

  <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-x-4 gap-y-8">
    {
      posts?.map(({ node }) => (
        <Card
          title={node?.title}
          tagline={node?.tagline}
          href={`/posts/${node?.slug}`}
          tags={node?.tags}
          body={node?.body}
          publishedAt={node?._meta.createdAt}
        />
      ))
    }
  </div>
</BaseLayout>
