---
import TextInput from "../components/TextInput.astro";
import TextArea from "../components/TextArea.astro";
import Button from "../components/Button.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { mailtrapClient } from "../services/mailtrap";
import { isValidEmail } from "../util/isValidEmail";

let errors = {
  firstName: "",
  lastName: "",
  email: "",
  message: "",
};

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const firstName = data.get("first-name");
    const lastName = data.get("last-name");
    const email = data.get("email");
    const message = data.get("message");

    if (typeof firstName !== "string" || firstName.length < 1) {
      errors.firstName = "Please enter your First Name.";
    } else {
      errors.firstName = "";
    }

    if (typeof lastName !== "string" || lastName.length < 1) {
      errors.lastName = "Please enter your Last Name.";
    } else {
      errors.lastName = "";
    }

    if (typeof email !== "string" || email.length < 1) {
      errors.email = "Please enter your Email Address.";
    } else if (!isValidEmail(email)) {
      errors.email = "Please enter a valid Email Address.";
    } else {
      errors.email = "";
    }

    if (typeof message !== "string" || message.length < 1) {
      errors.message = "Please enter a message.";
    } else {
      errors.message = "";
    }

    const hasErrors = Object.values(errors).some((msg) => msg);

    if (!hasErrors) {
      const sender = {
        name: `${firstName} ${lastName}`,
        email: email as string,
      };

      console.log({firstName, lastName, email, message})
      // mailtrapClient.send({
      //   from: sender,
      //   to: [{ email: import.meta.env.MAILTRAP_RECIPIENT_EMAIL }],
      //   subject: "New Contact",
      //   text: message,
      // });
    }
  } catch (err) {
    if (err instanceof Error) {
      console.error(err.message);
    }
  }
}
---

<BaseLayout title="Contact">
  <div class="flex flex-col">
    <div class="pb-4">
      <h1 class="text-2xl">Contact</h1>
    </div>
    <form id="contact-form" method="POST">
      <div class="flex flex-row gap-6 pb-4">
        <div class="flex-1">
          <TextInput
            label="First Name"
            id="first-name"
            name="first-name"
            type="text"
            error={errors.firstName}
            required
          />
        </div>
        <div class="flex-1">
          <TextInput
            label="Last Name"
            id="last-name"
            name="last-name"
            type="text"
            error={errors.lastName}
            required
          />
        </div>
      </div>
      <div class="pb-4">
        <TextInput
          label="Email Address"
          id="email"
          name="email"
          type="email"
          error={errors.email}
          required
        />
      </div>
      <div class="pb-4">
        <TextArea
          label="Message"
          id="message"
          name="message"
          error={errors.message}
          required
        />
      </div>
      <div class="flex justify-end gap-6">
        <Button label="Submit" type="submit" />
        <Button label="Reset" type="reset" />
      </div>
    </form>
  </div>
</BaseLayout>
