---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
import { getRecentPosts } from "../services/graphql";

const posts = getRecentPosts?.allPost?.edges;
---

<BaseLayout title="Home">
	<div class="flex flex-col">
		<div class="flex items-center justify-center h-80 bg-neutral-400">
			Banner
		</div>
		<div>
			<div class="pt-16 px-2">
				<h2 class="text-xl uppercase font-oswald font-semibold">
					Recent Posts
				</h2>
			</div>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 pt-4">
				{
					posts?.map(({ node }) => (
						<Card
							title={node?.title}
							tagline={node?.tagline}
							href={`/posts/${node?.slug}`}
							tags={node?.tags}
							body={node?.body}
							publishedAt={node?._meta.publishedAt}
						/>
					))
				}
			</div>
		</div>
	</div>
</BaseLayout>
